<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title=${notice.heading} ?: 'New Event')"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/boardNavigation :: navigation"></div>

            <div class="col-md-9">

                <form action="#" th:action="@{'/events/'} + (${notice.id} ?: '')" th:object="${notice}" method="post">
                
                    <div th:replace="/fragments/editNoticeFields :: fields"></div>
                    
                    <div class="form-group">
                        <label for="heading">Start Date</label>
                        <input type="text" class="form-control" placeholder="20/06/2015" th:field="*{startDate}" />
                    </div>
                    
                    <div class="form-group">
                        <label for="heading">End Date</label>
                        <input type="text" class="form-control" placeholder="20/06/2015" th:field="*{endDate}" />
                    </div>

                    <div th:replace="/fragments/editNoticeFields :: dates"></div>
                    
                    <button type="submit" class="btn btn-primary" name="save">Save</button>

                </form>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
