<!DOCTYPE html>
<html lang="en">

<head th:include="/fragments/header :: head(title=${group.name})"></head>

<body>

	<nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/groupNavigation :: navigation"></div>

            <div class="col-md-9">

                <div class="row">
                
					<div class="col-sm-4 col-lg-4 col-md-4" th:each="notice : ${notices}">
					    <div class="thumbnail">
					        <div class="caption">
					            <h4>
					            	<a th:href="@{notices/{noticeId}(noticeId=${notice.id})}"
					            	   th:text="${notice.heading}"></a>
					           	</h4>
					            <p th:text="${notice.content}"></p>
					            <p class="pull-right">
					            	<a th:href="@{/groups/{boardId}/notices/{date}/{noticeId}(boardId=${group.identifier},date=${#calendars.format(notice.creationDate, 'yyyy/MM/dd')},noticeId=${notice.id})}">See more&hellip;</a></p>
					        </div>
					    </div>
					</div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Like this template?</a>
                        </h4>
                        <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
