<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title=${board.displayName + ': Information'})"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/boardNavigation :: navigation"></div>

            <div class="col-md-9">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <p class="form-control-static">
                        <span th:text="${board.name}"></span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label">Affiliated To</label>
                    <p th:if="${#lists.isEmpty(board.affiliatedTo)}" class="form-control-static">Unaffiliated</p>
                    <ul class="form-control-static" th:each="affiliate : ${board.affiliatedTo}">
                        <li><a th:href="@{/groups/{boardId}/information(boardId=${affiliate.identifier})}" th:text="${affiliate.displayName}"></a></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label">Affiliates</label>
                    <p th:if="${#lists.isEmpty(board.affiliates)}" class="form-control-static">None</p>
                    <ul class="form-control-static" th:each="affiliate : ${board.affiliates}">
                        <li>
                            <a th:href="@{/{boardType}/{boardId}/information(boardType=${group} ? 'groups' : 'towers', boardId=${affiliate.identifier})}"
                               th:text="${affiliate.displayName}"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
