<!DOCTYPE html>
<html lang="en">

<head th:include="/fragments/header :: head(title=${notice.heading})"></head>

<body>

	<nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/towerNavigation :: navigation"></div>

            <div class="col-md-9">

				<div class="thumbnail">
                    <div class="caption-full">
                        <h3 th:text="${notice.heading}"></h3>
                        <p th:text="${notice.content}"></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right" th:text="${notice.createdBy.displayName}"></p>
                        <p th:with="df=#{datetime.format}" th:text="${#calendars.format(notice.creationDate, df)}"></p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
