<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title=${board.displayName + ': Information'})"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/boardNavigation :: navigation"></div>

            <div class="col-md-9">
                <div th:if="${board.dedication}" class="form-group">
                    <label class="control-label">Dedication</label>
                    <p class="form-control-static">
                        <span th:text="${board.dedication}"></span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label">Location</label>
                    <p class="form-control-static">
                        <span th:text="${board.location}"></span>,
                        <span th:text="${board.county.name}"></span>,
                        <span th:text="${board.county.country.name}"></span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label">Bells</label>
                    <p class="form-control-static">
                        <span th:text="${board.numBells}"></span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label">Tenor Weight</label>
                    <p class="form-control-static">
                        <span th:text="${board.tenorWeight}"></span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label">Affiliated To</label>
                    <p th:if="${#lists.isEmpty(board.affiliatedTo)}" class="form-control-static">Unaffiliated</p>
                    <ul class="form-control-static" th:each="affiliate : ${board.affiliatedTo}">
                        <li><a th:href="@{/groups/{boardId}/information(boardId=${affiliate.identifier})}" th:text="${affiliate.displayName}"></a></li>
                    </ul>
                </div>
                
                <a href="?edit=1" class="btn btn-default"
                   th:if="${board.isAdmin(#httpServletRequest.userPrincipal)}">Edit</a>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
