<!DOCTYPE html>
<html lang="en">

<head th:include="/fragments/header :: head(title=${tower.displayName})"></head>

<body>

	<nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/towerNavigation :: navigation"></div>

            <div class="col-md-9">

                <div class="row">
                
					<div class="col-sm-4 col-lg-4 col-md-4" th:each="notice : ${notices}">
					    <div class="thumbnail">
					        <div class="caption">
					            <h4>
					            	<a th:href="@{/towers/{towerId}/notices/{date}/{noticeId}(towerId=${tower.identifier},date=${#calendars.format(notice.creationDate, 'yyyy/MM/dd')},noticeId=${notice.id})}"
					            	   th:text="${notice.heading}"></a>
					           	</h4>
					            <p th:text="${notice.content}"></p>
					            <p class="pull-right">
					            	<a th:if="${notice.link}" th:href="${notice.link}" target="_blank">
                                        <img th:src="@{/img/externalLink.png}" alt="(external link)" title="(external link)" class="linkicon" />
                                        View
                                    </a>
                                    <a th:unless="${notice.link}" th:href="@{/towers/{boardId}/notices/{date}/{noticeId}(boardId=${tower.identifier},date=${#calendars.format(notice.creationDate, 'yyyy/MM/dd')},noticeId=${notice.id})}">See more&hellip;</a>
                                </p>
					        </div>
					    </div>
					</div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <a class="btn btn-default" th:href="@{/towers/{boardId}/notices/new(boardId=${tower.identifier})}">Create New Notice</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
