<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title='Towers')"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/towerListNavigation :: navigation"></div>
            
            <div class="col-md-9 mainContent">

                <div class="row">

                    <form class="form-inline" th:action="@{/towers/search}">
                        <div class="form-group">
                            <label class="sr-only" for="searchBox">Search</label>
                            <input type="text" class="form-control" id="searchBox" name="q"
                                placeholder="Town, County, Dedication" th:value="${towerSearchModel.query}" />
                        </div>
                        <button type="submit" id="searchBtn" class="btn btn-default">Search</button>
                    </form>
    
                </div>

                <div class="row">
    
                    <div class="col-sm-9 col-lg-9 col-md-9">
    
                        <div class="alert alert-danger" th:if="${towers ne null and #lists.isEmpty(towers)}">No towers found.</div>
    
                        <table th:replace="/fragments/towerList :: towerList(towers = ${towerSearchModel.towers})"></table>
                            
                    </div>
    
                </div>
                
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
