<!DOCTYPE html>
<html lang="en">

<head th:include="/fragments/header :: head(title='Towers')"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/towerListNavigation :: navigation"></div>
            
            <div class="col-md-9">

                <div class="row">

                    <form class="form-inline" th:action="@{/towers}">
                        <div class="form-group">
                            <label class="sr-only" for="searchBox">Search</label>
                            <input type="text" class="form-control" id="searchBox" name="search"
                                placeholder="Town, County, Dedication" />
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
    
                </div>

                <div class="row">
    
                    <div class="col-sm-9 col-lg-9 col-md-9">
    
                        <table class="table table-striped">
    
                            <thead>
                                <tr>
                                    <th>Tower</th>
                                    <th>County</th>
                                    <th>Bells</th>
                                    <th></th>
                                </tr>
                            </thead>
    
                            <tbody>
    
                                <tr th:each="tower : ${towers}">
                                    <td>
                                        <strong th:text="${tower.town}"></strong>,
                                        <span th:text="${tower.dedication}"></span>,
                                        <span th:text="${tower.area}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${tower.county.name}"></span>,
                                        <span th:text="${tower.county.country.name}"></span>
                                    </td>
                                    <td>
                                        <strong th:text="${tower.numBells}">10</strong>,
                                        <span th:text="${tower.tenorWeight}"></span>
                                    </td>
                                    <td><a class="btn btn-primary" th:href="@{/towers/{doveId}(doveId=${tower.doveId})}">View</a></td>
                                </tr>
    
                            </tbody>
    
                        </table>
    
                    </div>
    
                </div>
                
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
