<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title='Towers')"></head>

<body>

    <nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/towerListNavigation :: navigation"></div>
            
            <div class="col-md-9 mainContent">

                <div class="row">
    
                    <div class="col-sm-9 col-lg-9 col-md-9">
                    
                    	<div th:if="${towerBrowseByLocationModel.countries ne null and !#lists.isEmpty(towerBrowseByLocationModel.countries)}">
	    					<h4>Countries</h4>
	                        <ul>
	                            <li th:each="country : ${towerBrowseByLocationModel.countries}">
	                                <a th:if="${towerBrowseByLocationModel.selectedCountryName ne country.name}"
	                                   th:href="@{/towers/locations/{country}(country=${country.name})}"
	                                   th:text="${country.name}"></a>
	                                <span th:if="${towerBrowseByLocationModel.selectedCountryName eq country.name}"
	                                   th:text="${country.name}" style="font-weight:bold"></span>
	                            </li>
	                        </ul>
                        </div>
                        
                        <div th:if="${towerBrowseByLocationModel.counties ne null and !#lists.isEmpty(towerBrowseByLocationModel.counties)}">
                        	<h4>Counties</h4>
	                        <ul>
	                            <li th:each="county : ${towerBrowseByLocationModel.counties}">
	                                <a th:if="${towerBrowseByLocationModel.selectedCountyName ne county.name}"
	                                   th:href="@{/towers/locations/{country}/{county}(country=${county.country.name},county=${county.name})}"
	                                   th:text="${county.name}"></a>
                                	<span th:if="${towerBrowseByLocationModel.selectedCountyName eq county.name}"
                                   		  th:text="${county.name}" style="font-weight:bold"></span>
	                            </li>
	                        </ul>
                        </div>
                        
                        <div class="alert alert-warning" th:if="${towerBrowseByLocationModel.towers ne null and #lists.isEmpty(towerBrowseByLocationModel.towers)}">
                        	There are no towers currently registered on TowerBoard for this category.
                        </div>
    
                        <table th:replace="/fragments/towerList :: towerList(towers = ${towerBrowseByLocationModel.towers})"></table>
                            
                    </div>
    
                </div>
                
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
