<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head(title=${notice.heading})"></head>

<body>

	<nav th:replace="/fragments/header :: navigation"></nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div th:replace="/fragments/boardNavigation :: navigation"></div>

            <div class="col-md-9">

				<div class="thumbnail">
                
                    <div class="caption-full">
                        <h3 th:text="${notice.heading}"></h3>
                        <p th:text="${notice.content}"></p>
                        <div class="form-group">
                            <label class="control-label">Start Date</label>
                            <p class="form-control-static">
                                <span th:with="df=#{datetime.format}"
                                      th:text="${#calendars.format(notice.startDate, df)}"></span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">End Date</label>
                            <p class="form-control-static">
                                <span th:with="df=#{datetime.format}"
                                      th:text="${#calendars.format(notice.endDate, df)}"></span>
                            </p>
                        </div>
                    </div>
                    <div th:replace="/fragments/viewNoticePanels :: dates"></div>
                </div>
                
                <a href="?edit=1" class="btn btn-default">Edit</a>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div th:include="/fragments/footer"></div>

</body>

</html>
