<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="col-md-3" th:fragment="navigation">
        <h3 th:unless="${board.group}" th:text="${board.displayName}"></h3>
        <h4 th:unless="${board.group}">
            <span th:text="${board.county.name}"></span>, <span
                style="font-weight: bold" th:text="${board.numBells}"></span>,
            <span th:text="${board.tenorWeight}"></span>
        </h4>
        <h3 th:if="${board.group}" th:text="${board.name}"></h3>
        <div class="list-group">
            <a class="list-group-item"
                th:href="@{/{boardType}/{boardId}/notices(boardType=${board.group} ? 'groups' : 'towers',boardId=${board.identifier})}"
                th:classappend="${(#httpServletRequest.requestURL.toString().contains('/notices')) ? 'active' : ''}">Notices</a>
            <a class="list-group-item"
                th:href="@{/{boardType}/{boardId}/diary(boardType=${board.group} ? 'groups' : 'towers',boardId=${board.identifier})}"
                th:classappend="${(#httpServletRequest.requestURL.toString().contains('/diary')) ? 'active' : ''}">Diary</a>
            <a class="list-group-item"
                th:href="@{/{boardType}/{boardId}/information(boardType=${board.group} ? 'groups' : 'towers',boardId=${board.identifier})}"
                th:classappend="${(#httpServletRequest.requestURL.toString().contains('/information')) ? 'active' : ''}"
                th:text="${({board.group} ? 'Group' : 'Tower') + ' Information'}"></a>
            <a class="list-group-item"
                th:href="@{/{boardType}/{boardId}/members(boardType=${board.group} ? 'groups' : 'towers',boardId=${board.identifier})}"
                th:classappend="${(#httpServletRequest.requestURL.toString().contains('/members')) ? 'active' : ''}">Members</a>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <form th:action="@{/{boardType}/{boardId}/members(boardType=${board.group} ? 'groups' : 'towers',boardId=${board.identifier})}" method="post">
                <button type="submit" class="btn btn-default" name="action" value="subscribe"
                        th:unless="${board.isSubscribed(#httpServletRequest.userPrincipal)} or
                                   ${board.isMember(#httpServletRequest.userPrincipal)}">Subscribe</button>
                <button type="submit" class="btn btn-default" name="action" value="unsubscribe"
                        th:if="${board.isSubscribed(#httpServletRequest.userPrincipal)} and
                               not ${board.isMember(#httpServletRequest.userPrincipal)}">Unsubscribe</button>
                <button type="submit" class="btn btn-default" name="action" value="join"
                        th:unless="${board.isMember(#httpServletRequest.userPrincipal)}">Request Membership</button>
                <button type="submit" class="btn btn-default" name="action" value="leave"
                        th:if="${board.isMember(#httpServletRequest.userPrincipal)} and 
                               not ${board.isAdmin(#httpServletRequest.userPrincipal)}">Leave</button>
            </form>
        </div>
    </div>
</body>
</html>