<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <table th:fragment="towerList" class="table table-striped" th:unless="${#lists.isEmpty(towers)}">
    
        <thead>
            <tr>
                <th>Tower</th>
                <th>County</th>
                <th>Bells</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="tower : ${towers}">
                <td>
                    <strong th:text="${tower.town}"></strong><span th:if="${tower.dedication}" th:text="', ' + ${tower.dedication}"></span><span th:if="${tower.area}" th:text="', ' + ${tower.area}"></span>
                </td>
                <td>
                    <span th:text="${tower.county.name}"></span>,
                    <span th:text="${tower.county.country.name}"></span>
                </td>
                <td>
                    <strong th:text="${tower.numBells}">10</strong>,
                    <span th:text="${tower.tenorWeight}"></span>
                </td>
                <td>
                    <a class="btn btn-primary pull-right"
                       th:href="@{/tower/{identifier}/notices(identifier=${tower.identifier})}">View</a>
                </td>
            </tr>

        </tbody>

    </table>
    
</html>