<html>
<body>
    <div class="col-md-3" th:fragment="navigation">
        <h3 th:text="${tower.displayName}"></h3>
        <h4>
            <span th:text="${tower.county.name}"></span>,
            <span style="font-weight: bold" th:text="${tower.numBells}"></span>,
            <span th:text="${tower.tenorWeight}"></span>
        </h4>
        <div class="list-group">
            <a class="list-group-item"
                th:href="@{/towers/{towerId}/notices(towerId=${tower.doveId})}"
                th:classappend="${(#httpServletRequest.requestURL.toString().contains('/notices')) ? 'active' : ''}">Notices</a>
            <a href="#" class="list-group-item">Diary</a> <a href="#"
                class="list-group-item">Tower Information</a> <a
                href="#" class="list-group-item">Contacts &amp;
                Members</a>
        </div>
    </div>
</body>
</html>