<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="col-md-3" th:fragment="navigation">
        <h3>Towers</h3>
        <div class="list-group">
            <a class="list-group-item"
                th:href="@{/towers/?search}"
                th:classappend="${#httpServletRequest.queryString != null and #httpServletRequest.queryString.toString().contains('search') ? 'active' : ''}">Search</a>
            <a class="list-group-item"
                th:href="@{/towers}"
                th:classappend="${(#httpServletRequest.queryString == null) ? 'active' : ''}">Browse by Location</a>
            <a class="list-group-item" href="#">Browse by Group</a>
        </div>
    </div>
</body>
</html>